name: OpenFPM_CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test_formula:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - name: Cache Homebrew dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/Library/Caches/Homebrew
          /home/linuxbrew/.cache/Homebrew
        key: ${{ runner.os }}-homebrew-${{ hashFiles('**/*.rb') }}
        restore-keys: |
          ${{ runner.os }}-homebrew-

    - name: Install dependencies
      run: |
        brew install cmake ccache petsc boost vc eigen hdf5-mpi
        brew install abhinavsns/homebrew-openfpm/parmetis
        brew install abhinavsns/homebrew-openfpm/libhilbert
        brew install abhinavsns/homebrew-openfpm/blitz
        brew install abhinavsns/homebrew-openfpm/algoim

    - name: Test build
      run: |
        brew install --verbose --HEAD abhinavsns/homebrew-openfpm/openfpm.rb
#    - name: Single-core Test
#        run: |
#          export CC=gcc-12
#          export CXX=g++-12
#          source $HOME/openfpm_vars
#          export OMP_NUM_THREADS=1
#          ./run.sh $(pwd) unused 1 pdata 0 ${{ github.ref }}
#          cd openfpm_numerics
#          ./run.sh $(pwd) unused 1 0 0 numerics ${{ github.ref }}
#      - name: Multi-core Test
#        run: |
#          export CC=gcc-12
#          export CXX=g++-12
#          source $HOME/openfpm_vars
#          export OMP_NUM_THREADS=1
#          mpirun --allow-run-as-root -np 2 ./build/src/pdata
#          echo "RUN numerics test"
#          cd openfpm_numerics
#          mpirun --allow-run-as-root -np 2 ../build/openfpm_numerics/src/numerics